<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>© 2014 RUNNING FOOD ·
          <%= link_to "About", root_path %> ·
          <%= link_to "Privacy", root_path %> ·
          <%= link_to "Disclaimer", root_path %> ·
          <%= link_to "Contact", root_path %></p>
      </div>
      <div class="col-md-4 text-center">
        <a href="http://facebook.com" target="_blank">Facebook</a> ·
        <a href="http://twitter.com" target="_blank">Twitter</a> ·
        <a href="http://instagram.com" target="_blank">Google+</a>
      </div>
    </div>
  </div>  
</div>